* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	min-height: 100vh;
	width: 100%;
}

header {
	background-color: rgba(122, 123, 155, 0.1);
	backdrop-filter: blur(10px);
	text-align: center;
	padding: 15px 0;
	width: 100%;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}

header div {
	display: flex;
	width: 40%;
}

header div input {
	width: 100%;
	padding: 8px 16px;
	border-radius: 15px 0 0 15px;
}

header div button {
	padding: 8px 12px;
	background-color: rgba(0, 103, 155, 0.7);
	color: white;
	border: solid rgba(0, 0, 0, 0.8);
	border-radius: 0 15px 15px 0;
	cursor: pointer;
	transition: background-color 0.3s;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a {
	margin-right: 15px;
	padding: 10px 15px;
	background: rgba(0, 103, 155, 0.7);
	color: white;
	text-decoration: none;
	border-radius: 15px;
	transition: 0.3s;
}

nav a:hover {
	background: #0056b3;
}

/* Options utilisateur */
.user-menu {
	position: relative;
	/* display: inline-block; */
	display: none;
}

.menu-options {
	display: none;
	position: absolute;
	right: 0;
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px;
}

.menu-options button,
.menu-options a {
	text-decoration: none;
	display: block;
	color: #333;
	width: 100%;
	border: none;
	background: none;
	padding: 8px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}

.menu-options button:hover,
.menu-options a:hover {
	background: #f0f0f0;
}

.main-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #e0e0e0;
	padding: 20px 15px;
}

.main-container #forms-field {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.add {
	background: white;
	padding: 20px;
	width: fit-content;
	height: fit-content;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	margin-top: 20px;
}

h1,
h2 {
	text-align: center;
}

hr {
	margin: 10px 0;
	border: solid rgba(0, 0, 0, 0.6) 2px;
	border-top: 1px solid #eee;
}

input:not([type="search"]) {
	width: 100%;
	padding: 8px 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
	margin: 6px 0;
	transition:
		border-color 0.3s,
		box-shadow 0.3s;
}

button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: rgba(0, 103, 155, 0.7);
	color: white;
	border: none;
	border-radius: 8px;
	font-weight: bolder;
	border: solid rgba(0, 0, 0, 0.8) 1px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 10px;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}

.add-loan div {
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 14px;
}

#available-books-field {
	width: 100%;
	margin-top: 30px;
}

#available-books-list {
	list-style-type: none;
	margin-top: 10px;
}

#available-books-list li {
	background: white;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
