* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	min-height: 100vh;
	width: 100%;
	background-color: #f0f2f5;
}

header {
	width: 100%;

	padding: 15px;
	display: flex;
	justify-content: center;
	justify-items: center;
	border-bottom: 1px solid;
}

header a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	justify-items: center;
}

form {
	background-color: white;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px 15px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: 50px auto;
}

form div {
	display: flex;
	flex-direction: column;
	gap: 5px 15px;
}

form h1 {
	margin-bottom: 20px;
	text-align: center;
	color: #333;
}

form label {
	font-weight: bold;
	color: #555;
	margin-top: 10px;
}

form input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
}

form input:hover {
	border-color: #888;
}

form button {
	margin-top: 20px;
	padding: 12px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

form button:hover {
	background-color: #0056b3;
}
